matlab/
out/
.idea/
.ipynb_checkpoints/
.vscode/settings.json
*.pyc
autosave.arr
ferda_drosophyla.avi
ferda_output.avi
mat_name.mat
name.arr
*.DS_Store
packages/shapes/shapes.egg-info

interactions_config.yaml
/.tox/
