h5py==2.7.0
matplotlib==2.0.2
numpy==1.12.1
PuLP==1.6.5
Pympler==0.5
qimage2ndarray==1.6
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
sklearn==0.0
tqdm==4.11.2
cachetools==2.0.1
lazyme==0.0.20
munkres==1.0.12